.image {
    position: absolute;
    width: 123px;
    height: 127.55;
    right: calc(50% - 123px/2) ;
    top: calc(-127.55px/2);

    
}

.boxImage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 204px;
    background-color: #F1F1F1;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}