
.cajaLogin {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 48px;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media (max-width: 600px) {
  .cajaLogin {
    padding: 20px;
    height: 80%;
  }
}
