
.boxImage {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 204px;
    background-color: #F1F1F1;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 60px;
}

.image {
    position: absolute;
    width: 170px;
    height: 127;
    right: calc(50% - 85px) ;
    top:-64px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
