.featuresContainer,
.inTheBoxContainer {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    text-align: left;
}

.imagenPrueba{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}
