.navBarContainer {
    padding: 0 10rem;
    background-color: #000000 !important;
    height: 6rem;
    justify-content: center;
}

.bar {
    padding: 0 !important;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    height: 100%;
}

.bar .name {
    height: 1.5rem;
    width: auto;
}

.bar .items {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.bar .items .item {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 25px;
}

.bar .items .item:hover {
    color: #d87d4a;
}

.cartIcon:hover {
    color: #d87d4a;
}