/* .titleBox{
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

.subtitle1{
    font-size: 14px;
    font-weight: 400;
    padding-left: 150px;
    text-align: left;
}

.h2Home{
    font-size: 56px;
    font-weight: 700;
}

.body2{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
}

.seeProduct{
    align-self: center;
    height: 48px;
    width: 160px;
} */